{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>登录</h1>
    <p>Input your username and password</p>
    <p>Not a user, <strong><a href="{% url 'account:user_register'%}">Register</a></strong> please</p>
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <div class="form-group">
            <label for="{{form.username.id_for_label}}" class="col-md-5 control-label" style="color:#8b7355">
                <span class="glyphicon glyphicon-user"></span>Username
            </label>
            <div class="col-mid-6 text-left">{{form.username}}</div>
        </div>
        <div class="form-group">
            <label for="{{form.username.id_for_label}}" class="col-md-5 control-label" style="color:#8b7355">
                <span class="glyphicon glyphicon-floppy-open"></span>Password
            </label>
            <div class="col-mid-6 text-left">{{form.password}}</div>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="登录">
    </form>
    <p><a href="{% url 'account:password_reset' %}" >忘记密码</a></p>
</div>
{% endblock %}