{% extends "base.html" %}
{% load article_tags %}
{% block title %} articles {% endblock %}
{% block content %}
<style>
    a:hover{
        text-decoration:Blink;
        color: #9DAB86;
    }
    .tt1{
        color:#BAE8E8;

    }
    .tt2{
        color:#FFFFFF;
    }
</style>
<div class="row text-center vertical-middle-sm">
    <h1 style="padding: 15px">生活不止眼前的苟且，还有更多的狗血。</h1>
     <p>这里已经有{% total_articles %}篇文章供你阅读</p>
</div>
<div class="container">
    {% for article in articles %}

    <div class="list-group">
        <div class="list-group-item active">
                <h4 class="list-group-item-heading"><a class = "tt1" href="{{article.get_url_path}}">{{article.title}}</a></h4>
                <p class="list-group-item-text"><a class = "tt2" href="{% url 'article:author_articles' article.author.username %}">笔者:{{article.author.username}}</a></p>
            </div>
<!--        <a href="{{article.get_url_path}}" class="list-group-item active">-->
<!--            <h4 class="list-group-item-heading">{{article.title}}</h4>-->
<!--            <p class="list-group-item-text">笔者:{{article.author.username}}</p>-->
<!--        </a>-->
<!--            <p class="list-group-item-text"><a href="{% url 'article:author_articles' article.author.username %}">{{article.author.username}}</a></p>-->
<!--        <p class="list-group-item-text">作者:{{article.author.username}}</p>-->
<!--        <p class="list-group-item-text">概要:{{article.body|slice:'70'| linebreaks}}</p>-->
    </div>
    {% endfor %}
    {% include "paginator.html" %}
</div>
{% endblock %}